* {
    bg:      #1e1e2e;
    bg-alt:  #313244;
    fg:      #cdd6f4;
    accent:  #89b4fa;

    background-color: transparent;
    text-color:        @fg;
}

window {
    width:            250px;
    height:           250px;
    location:         center;
    background-color: #1E160D;
    border:           1px;
    border-color:     #261B11;
    border-radius:    0px;
    padding:          16px;
}

mainbox {
    children: [ inputbar, listview ];
    spacing:  10px;
}

inputbar {
    background-color: #595347;
    border-color:     #595347;
    border-radius:     0px;
    padding:            8px 12px;
    children:          [ entry ];
}

entry {
    placeholder: "Szukaj...";
    text-color:  #D3D3D3;
}

listview {
    lines:      8;
    spacing:    4px;
    scrollbar:  false;
}

element {
    padding:        6px 10px;
    border-radius:  0px;
    text-color:     #D3D3D3;
}

element selected {
    background-color: #595347;
    text-color:        #D3D3D3;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
}
